@{
   
}


<div class="container py-4">


    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Enhorabuena!</h4>
        <p>Se ha enviado el mensaje con exito.</p>
        <hr>
        <p class="mb-0">Pronto le daremos una respuesta!</p>
    </div>

    @Html.ActionLink("Volver al incio", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })


</div>