@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Cookies";
}

<div class="container">

    <h2>Tratamiento de los datos obtenidos</h2>
    <h4>A través de cookies</h4>
    <p>
        Se advierte al Usuario que esta Web utiliza cookies. Las cookies son pequeños ficheros de datos que se generan en el ordenador del usuario y que nos permiten conocer, entre otros, la siguiente información:
    </p>
    <p>
        - La fecha y hora de la última vez que el usuario visitó nuestra Web.
    </p>
    <p>
        - El diseño de contenidos que el usuario escogió en su primera visita a nuestro Web.
    </p>
    <p>
        - Elementos de seguridad que intervienen en el control de acceso a las áreas restringidas.
    </p>
    <p>
        - La audiencia, parámetros del tráfico y navegación, tiempo de sesión, y/o controlar el progreso y el número de entradas.
    </p>

    <h2>Tipos de cookies utilizadas</h2>
    <p>
        
        Según la finalidad para la que se traten los datos obtenidos a través de las cookies, el Web puede utilizar:
    </p>
    <p>Cookies Técnicas </p>
    <p>

        Son necesarias para permitir el funcionamiento de las funciones básicas del sitio web, como ofrecer un acceso seguro.
    </p>
    <p> Cookies Funcionales </p>
    <p>
        Podrá acceder al servicio en función de características predeterminadas como podrían ser el tipo de navegador, el idioma, la configuración, etc.
    </p>
    <p> Cookies Analíticas</p>
    <p>
        Permiten saber cuándo fue la última vez que inició sesión en el sitio web y recopilar información estadística sobre la navegación en el sitio web. Su información es compartida con terceros para ofrecerle un buen servicio en nuestro sitio web. La información compartida solo se utilizará para ofrecerle el servicio, el producto o la función, y nunca para otros propósitos. También permiten mostrarle contenido personalizado en base a los datos que obtenemos de usted. A través de las cookies analíticas obtendremos datos sobre su comportamiento y sobre su uso de la web que utilizaremos para mostrarle contenido personalizado.
    </p>
    <p> Cookies Publicitarias</p>
    <p>
        Nos permiten gestionar de forma eficaz la oferta de los espacios publicitarios de la página web. Permiten medir el rendimiento de nuestros anuncios y limitar las veces que se los mostramos. Nos permiten mostrarle contenidos adecuados a sus gustos e intereses, tanto en nuestra página web como en las de terceros.
    </p>
       
       
    

</div>
