@{
    ViewBag.Title = "Audi";
}


<div class="card text-bg-dark border-0">
    <img src="~/imagenes/audi3.jpg" class="card-img w-100" alt="...">
    <div class="card-img-overlay">
        <h3 class="card-title text-end">Nuevos Audi Q8 e-tron y Audi Q8 Sportback e-tron</h3>
        <p class="card-text text-end">Descubre los SUV 100% eléctricos más apasionantes.</p>
    </div>
</div>
<div class="container-fluid py-4 px-5">
    <h1 class="py-2">Contenido destacado</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/card1.jpg" class="card-img-top"
                     alt="Skyscrapers" />
                <div class="card-body">
                    <p class="card-text">
                        Consigue ya el vehículo de empresa más ágil y dinámico con esta oferta de renting. Con mantenimiento incluido, disponibilidad inmediata y sin entrada.
                    </p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/card2.jpg" class="card-img-top"
                     alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <p class="card-text">
                        Más deportivo, más dinámico y con detalles únicos. Hazte con una de las 20 unidades limitadas disponibles en España y consigue el Audi RS Q3 Sportback más exclusivo de la historia.
                    </p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/card3.jpg" class="card-img-top"
                     alt="Palm Springs Road" />
                <div class="card-body">
                    <p class="card-text">
                        Descubre el primer Audi Sport compacto con una velocidad máxima de 300 km/h. Un modelo especial del que solo habrá disponibles 10 unidades en España.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4 px-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/card4.jpg" class="card-img-top"
                     alt="Skyscrapers" />
                <div class="card-body">
                    <p class="card-text">
                        Consigue sin esperas tu Audi seminuevo o de ocasión revisado por nuestros expertos y con garantía oficial Audi, ahora con condiciones irrepetibles.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/card5.jpg" class="card-img-top"
                     alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <p class="card-text">
                        Descubre nuestras soluciones a medida para empresas y autónomos. Propuestas y promociones especiales que se adaptan a las necesidades de tu negocio.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/imagenes/card6.jpg" class="card-img-top"
                     alt="Palm Springs Road" />
                <div class="card-body">
                    <p class="card-text">
                        Crea un Audi justo como deseas con las diferentes opciones de personalización de nuestro Configurador y descubre todo lo que podemos ofrecerte.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/imagenes/audi1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/imagenes/audi2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/imagenes/audi.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>