@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Politicas";
}

<div class="container py-5">

    <div class="row">

        <div class="col-12">
            <h3>Política de privacidad</h3>
            <p>
                En Volkswagen Group España Distribución queremos que seas consciente de qué hacemos con tus datos personales.
                Por ello, solo utilizamos tu información para aquellas finalidades que encontrarás concretadas en esta
                política de privacidad cumpliendo en todo momento con todos los principios y criterios establecidos en
                la normativa de protección de datos.
            </p>


            <h3>Información adicional sobre Protección de Datos</h3>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            ¿Quién es el responsable del tratamiento de tus datos personales?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <p>
                                Identidad del responsable: Volkswagen Group España Distribución S.A.U. (en adelante, “VGED”). VGED es el representante en España de AUDI AG, con domicilio social en Ettinger Straße 70,
                                85057 Ingolstadt, Alemania, siendo este el fabricante de los vehículos de la marca Audi.
                            </p>
                            <p>
                                Dirección postal del responsable: Parque de Negocios Mas Blau II, Calle de la Selva 22, 08820 El Prat de Llobregat, Barcelona, España.
                            </p>
                            <p>
                                Teléfono de contacto: +34 932 61 72 00
                            </p>
                            <p>
                                Correo electrónico de contacto: atencioncliente@audi.es
                            </p>
                            <p>
                                VGED cuenta con un delegado de protección de datos mediante el cual podrás contactar dirigiéndote a delegadoprotecciondatos@volkswagengroup.es
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            ¿Cómo hemos obtenido tus datos?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <p>
                                En algunos casos, tus datos personales pueden haber sido obtenidos a través de la concesión o servicio oficial con el que te hayas puesto en contacto siempre y
                                cuando exista una obligación legal de comunicar a VGED dichos datos o hayas dado tu consentimiento expreso para ello.
                            </p>
                            <p>
                                Asimismo, en el caso que hayas consentido, podremos recibir tus datos de Volkswagen Bank GmbH Sucursal en España, 
                                Volkswagen Renting, S.A.U., Volkswagen Insurance Services Correduría de Seguros, S.L. o a su matriz. Concretamente,
                                recibiremos tus datos identificativos y de contacto e información relacionada con el producto contratado.
                            </p>
                            <p>
                                Para aquellos servicios digitales a los que se requiera de la suscripción de una cuenta ID como sistema de
                                inicio de sesión único, como en los vehículos conectados y/o otros servicios proporcionados por Audi AG como
                                fabricante de tu vehículo o VGED, podremos recibir información sobre tu cuenta,
                                perfil o vehículo directamente del propietario de la cuenta ID, es decir, de Audi AG.
                            </p>
                            <p>
                                Para terminar, te recordamos que en caso de que nos proporciones datos relativos a otra persona física deberás
                                informarle con carácter previo del contenido de esta política de privacidad.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            ¿Por cuánto tiempo conservaremos tus datos personales?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <p>
                                Tus datos personales serán tratados mientras sean necesarios para dar cumplimiento a la finalidad para la que fueron recogidos y, para aquellas finalidades que hayas consentido, mientras no revoques el mismo. Tan pronto se extinga la finalidad, tus datos personales serán bloqueados, en carácter general, durante el plazo de 3 años. Transcurrido dicho plazo, serán eliminados de forma definitiva. En aquellos casos en los que puedan derivarse responsabilidades legales derivadas del producto vendido o servicios ofrecidos,
                                podrán conservarse durante el plazo de 5 o 10 años (según derecho aplicable).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                            ¿A qué destinatarios se comunicarán tus datos personales?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            <p>
                                VGED podrá comunicar tus datos personales a Audi AG dado que ambas sociedades proporcionan servicios esenciales para el correcto funcionamiento de VGED como representante en España. Asimismo, podremos comunicar tus datos identificativos y de contacto al fabricante de tu vehículo para que el mismo lleve a cabo encuestas relacionadas con el vehículo que has adquirido.
                            </p>
                            <p>
                                Por otro lado, en aquellos casos en los que hayas seleccionado un concesionario, le haremos llegar tus datos personales con el fin de tramitar tu petición o solicitud. También se podrán comunicar a las concesiones, de manera anonimizada, los resultados de los perfilados cuando se realicen con el único objetivo de garantizar que su vehículo se encuentra siempre en un estado óptimo.
                            </p>
                            <p>
                                Asimismo, y únicamente en el caso de que hayas consentido, tus datos personales podrán ser comunicados a Volkswagen Bank GmbH Sucursal en España, Volkswagen Renting, S.A.U. y/o Volkswagen Insurance Services Correduría de Seguros, S.L. o a su matriz con el fin que se detalle en el momento en el que has dado tu consentimiento para dicha comunicación de datos.
                            </p>
                            <p>
                                Para terminar, informarte que VGED podrá dar acceso a tus datos personales a terceros a los que haya encomendado una prestación de servicios como podría ser la empresa de asistencia en carretera, de soporte técnico e informático, así como comunicar tus datos a terceros para el cumplimiento de obligaciones legales que correspondan. En el caso que cuenten con la consideración de prestadores de servicios, estos terceros actuarán por cuenta de VGED siguiendo nuestras instrucciones y nunca con finalidades propias.
                            </p>
                            <p>
                                Informarte además que VGED contrata parte de su infraestructura virtual con Salesforce.com, Inc, entidad domiciliada en The Landmark, 1 Market Street, San Francisco CA 94105, Estados Unidos, por lo que tus datos personales podrán ser transferidos internacionalmente. VGED ha firmado las correspondientes cláusulas contractuales tipo aprobadas por la Comisión Europea para garantizar que tus datos personales cuenten con la protección suficiente según lo previsto en la normativa de protección de datos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>